<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.iask.yiyuanlegou1"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.SlashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <!-- 登录activity -->
        <activity
            android:name=".account.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- 注册activity -->
        <activity
            android:name=".account.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- 找回密码activity -->
        <activity
            android:name=".account.RecoverPasswdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- 首页activity -->
        <activity
            android:name=".home.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".home.main.product.ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.main.product.JoinRecordActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.main.product.HistoryRecordActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.share.ShareActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.main.product.ProductPicDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.person.record.BuyRecordActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.main.product.CalculateDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.main.product.ProductClassifyActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.main.product.ProductClassifyListActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.main.product.MyBuyRecordActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.share.ShareDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.person.setting.SettingActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.main.product.pay.PayListActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <!-- 收银台-普通 -->
        <activity
            android:name="com.iapppay.ui.activity.normalpay.PayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!-- 收银台-爱贝快付 -->
        <activity
            android:name="com.iapppay.ui.activity.minipay.MiniPayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent">
        </activity>
        <activity
            android:name="com.iapppay.ui.activity.minipay.BankCardActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- openid登录 -->
        <activity
            android:name="com.iapppay.openid.channel.ui.LoginActivity"
            android:configChanges="screenSize|orientation|navigation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!-- 注册界面 -->
        <activity
            android:name="com.iapppay.account.channel.ipay.ui.RegistActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!-- 登录界面 -->
        <activity
            android:name="com.iapppay.account.channel.ipay.ui.LoginActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name="com.iapppay.pay.channel.weixinpay.WeixinWapPayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- 财付通wap start -->
        <activity
            android:name="com.iapppay.pay.channel.tenpay.wap.TenpayWapPayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name="com.iapppay.pay.channel.tenpay.wap.WebActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!-- 财付通wap end -->


        <!-- 银联支付结果返回 -->
        <activity
            android:name="com.iapppay.pay.channel.unionpay.UpPayResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- 银联3.1.0 start -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <!-- 银联3.1.0 end -->
        <!-- 选择充值金额界面 -->
        <activity
            android:name="com.iapppay.ui.activity.SelectAmountActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name="com.iapppay.ui.activity.normalpay.ChargeActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".home.person.setting.BalanceDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.person.address.SelectAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.person.address.AddressManageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.main.product.AddressDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.person.address.AddAddressInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.person.share.MyShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.main.product.pay.RechargeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.person.setting.BindPhoneActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.person.setting.ModifyNickActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.person.setting.ModifyEmailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.shopping.OrderListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.main.WebviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.person.reward.RewardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.person.share.ShareOrderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.person.share.EditImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".home.person.setting.ModifyPasswdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
        </activity>
        <activity
            android:name=".home.person.AboutUsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
        </activity>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="cps"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="570b46a6e0f55a5897000da8"/>
    </application>

</manifest>
